In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

bug_data = pd.read_csv('benthics_updated.csv')




bug_data = bug_data.dropna()
bug_data.head()

   Unnamed: 0 FIELDID   Latitude  Longitude        Date   SQI SQI_Rating
0          38   Bish1  42.482378 -83.460553  2004-09-15  15.0       Poor
1          40   Bish1  42.482378 -83.460553  2003-09-15  17.0       Poor
2          42   Bish1  42.482378 -83.460553  2002-09-15  21.0       Fair
3          44   Bish1  42.482378 -83.460553  2001-09-15  22.0       Fair
4          45   Bish2  42.471310 -83.451510  2022-09-15  38.0       Good

In [46]:
conditions = [
    (bug_data['SQI'] <19),
    (bug_data['SQI'] >= 19) & (bug_data['SQI'] <= 33),
    (bug_data['SQI'] >=34) & (bug_data['SQI'] <= 48),
    (bug_data['SQI'] > 34)
    ]

# create a list of the values we want to assign for each condition
values = ['Poor', 'Fair', 'Good', 'Excellent']

# create a new column and use np.select to assign values to it using our lists as arguments
bug_data['SQI_Rating'] = np.select(conditions, values)

# display updated DataFrame
bug_data.head()

extracted_col = bug_data["Date"]

In [13]:
bug_data.to_csv(r'/Users/andrewwolfe/Desktop/benthics_updated.csv', index=False)

In [48]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

ben_sqi = pd.read_csv('benthic_testing.csv')
ben_sqi.drop(columns=['Unnamed: 47'], inplace=True)

ben_sqi_new = ben_sqi
sqi_cols = ['F22 SQI', 'SP22 SQI', 'F21 SQI',
       'SP21 SQI', 'F20 SQI', 'SP20 SQI', 'F19 SQI', 'SP19 SQI', 'F18 SQI',
       'SP18 SQI', 'F17 SQI', 'SP17 SQI', 'F16 SQI', 'SP16 SQI', 'F15 SQI',
       'SP15 SQI', 'F14 SQI', 'SP14 SQI', 'F13 SQI', 'SP13 SQI', 'F12 SQI',
       'SP12 SQI', 'F11 SQI', 'SP11 SQI', 'F10 SQI', 'SP10 SQI', 'F09 SQI',
       'SP09 SQI', 'F08 SQI', 'SP08 SQI', 'F07 SQI', 'SP07 SQI', 'F06 SQI',
       'SP06 SQI', 'F05 SQI', 'SP05 SQI', 'F04 SQI', 'SP04 SQI', 'F03 SQI',
       'SP03 SQI', 'F02 SQI', 'SP02 SQI', 'F01 SQI', 'SP01 SQI']



ben_sqi = ben_sqi.join(extracted_col)
ben_sqi

,FIELDID,Latitude,Longitude,F22 SQI,SP22 SQI,F21 SQI,SP21 SQI,F20 SQI,SP20 SQI,F19 SQI,...,SP05 SQI,F04 SQI,SP04 SQI,F03 SQI,SP03 SQI,F02 SQI,SP02 SQI,F01 SQI,SP01 SQI,Date
0,Bish1,42.482378,-83.460553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.0,NaN,17.0,NaN,21.0,NaN,22.0,2004-09-15
1,Bish2,42.471310,-83.451510,38.0,NaN,21.0,28.0,20.0,NaN,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-09-15
2,Evan1,42.504517,-83.233388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-09-15
3,Evan2,42.472955,-83.247905,20.0,16.0,14.0,12.0,21.0,NaN,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-09-15
4,Evan3,42.459278,-83.268639,NaN,NaN,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,Wall3,42.494860,-83.495750,NaN,NaN,27.0,17.0,34.0,NaN,NaN,...,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-15
123,Wall4,42.433540,-83.480560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-15
124,Will1,42.330020,-83.464220,22.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25.0,17.0,27.0,25.0,NaN,NaN,NaN,NaN,2017-09-15
125,Will2,42.348115,-83.490179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-15
126,Will3,42.326470,-83.453283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-15

In [59]:
benthics_sqi = pd.DataFrame(columns=['FIELDID', 'Latitude', 'Longitude', 'Season', 'SQI','Year'], index=['FIELDID'])
benthics_sqi.head()

        FIELDID Latitude Longitude Season  SQI Year
FIELDID     NaN      NaN       NaN    NaN  NaN  NaN

In [74]:
for index, row in ben_sqi_new.iterrows():
    for col in ben_sqi_new[sqi_cols]:
        if col[0] == 'F':
            season = 'Fall'
            if col[1:3] == '22':
                year = '2022'
            elif col[1:3] == '21':
                year = "2021"
            elif col[1:3] == '20':
                year = "2020"
            elif col[1:3] == '19':
                year = "2019"
            elif col[1:3] == '18':
                year = "2018"
            elif col[1:3] == '17':
                year = "2017"
            elif col[1:3] == '16':
                year = "2016"
            elif col[1:3] == '15':
                year = "2015"
            elif col[1:3] == '14':
                year = "2014"
            elif col[1:3] == '13':
                year = "2013"
            elif col[1:3] == '12':
                year = "2012"
            elif col[1:3] == '11':
                year = "2011"
            elif col[1:3] == '10':
                year = "2010"
            elif col[1:3] == '09':
                year = "2009"
            elif col[1:3] == '08':
                year = "2008"
            elif col[1:3] == '07':
                year = "2007"
            elif col[1:3] == '06':
                year = "2006"
            elif col[1:3] == '05':
                year = "2005"
            elif col[1:3] == '04':
                year = "2004"
            elif col[1:3] == '03':
                year = "2003"
            elif col[1:3] == '02':
                year = "2002"
            elif col[1:3] == '01':
                year = "2001"
            else:
                year = "2000"
        else:
            season = 'Spring'
            if col[2:4] == '22':
                year = '2022'
            elif col[2:4] == '21':
                year = "2021"
            elif col[2:4] == '20':
                year = "2020"
            elif col[2:4] == '19':
                year = "2019"
            elif col[2:4] == '18':
                year = "2018"
            elif col[2:4] == '17':
                year = "2017"
            elif col[2:4] == '16':
                year = "2016"
            elif col[2:4] == '15':
                year = "2015"
            elif col[2:4] == '14':
                year = "2014"
            elif col[2:4] == '13':
                year = "2013"
            elif col[2:4] == '12':
                year = "2012"
            elif col[2:4] == '11':
                year = "2011"
            elif col[2:4] == '10':
                year = "2010"
            elif col[2:4] == '09':
                year = "2009"
            elif col[2:4] == '08':
                year = "2008"
            elif col[2:4] == '07':
                year = "2007"
            elif col[2:4] == '06':
                year = "2006"
            elif col[2:4] == '05':
                year = "2005"
            elif col[2:4] == '04':
                year = "2004"
            elif col[2:4] == '03':
                year = "2003"
            elif col[2:4] == '02':
                year = "2002"
            elif col[2:4] == '01':
                year = "2001"
            else:
                year = "2000"

In [78]:
benthics_sqi = pd.DataFrame(columns=['FIELDID', 'Latitude', 'Longitude', 'Season', 'SQI','Year'], index=['FIELDID'])
for index, row in ben_sqi_new.iterrows():
    for col in ben_sqi_new[sqi_cols]:
        if col[0] == 'F':
            season = 'Fall'
            if col[1:3] == '22':
                year = '2022'
            elif col[1:3] == '21':
                year = "2021"
            elif col[1:3] == '20':
                year = "2020"
            elif col[1:3] == '19':
                year = "2019"
            elif col[1:3] == '18':
                year = "2018"
            elif col[1:3] == '17':
                year = "2017"
            elif col[1:3] == '16':
                year = "2016"
            elif col[1:3] == '15':
                year = "2015"
            elif col[1:3] == '14':
                year = "2014"
            elif col[1:3] == '13':
                year = "2013"
            elif col[1:3] == '12':
                year = "2012"
            elif col[1:3] == '11':
                year = "2011"
            elif col[1:3] == '10':
                year = "2010"
            elif col[1:3] == '09':
                year = "2009"
            elif col[1:3] == '08':
                year = "2008"
            elif col[1:3] == '07':
                year = "2007"
            elif col[1:3] == '06':
                year = "2006"
            elif col[1:3] == '05':
                year = "2005"
            elif col[1:3] == '04':
                year = "2004"
            elif col[1:3] == '03':
                year = "2003"
            elif col[1:3] == '02':
                year = "2002"
            elif col[1:3] == '01':
                year = "2001"
            else:
                year = "2000"
        else:
            season = 'Spring'
            if col[2:4] == '22':
                year = '2022'
            elif col[2:4] == '21':
                year = "2021"
            elif col[2:4] == '20':
                year = "2020"
            elif col[2:4] == '19':
                year = "2019"
            elif col[2:4] == '18':
                year = "2018"
            elif col[2:4] == '17':
                year = "2017"
            elif col[2:4] == '16':
                year = "2016"
            elif col[2:4] == '15':
                year = "2015"
            elif col[2:4] == '14':
                year = "2014"
            elif col[2:4] == '13':
                year = "2013"
            elif col[2:4] == '12':
                year = "2012"
            elif col[2:4] == '11':
                year = "2011"
            elif col[2:4] == '10':
                year = "2010"
            elif col[2:4] == '09':
                year = "2009"
            elif col[2:4] == '08':
                year = "2008"
            elif col[2:4] == '07':
                year = "2007"
            elif col[2:4] == '06':
                year = "2006"
            elif col[2:4] == '05':
                year = "2005"
            elif col[2:4] == '04':
                year = "2004"
            elif col[2:4] == '03':
                year = "2003"
            elif col[2:4] == '02':
                year = "2002"
            elif col[2:4] == '01':
                year = "2001"
            else:
                year = "2000" 
        # pull out SQI value
        sqi = row[col]
        # compile row dict
        info = {'FIELDID':row['FIELDID'], 'Latitude':row['Latitude'], 'Longitude':row['Longitude'], 
                'Season':season, 'SQI':sqi,'Year':year}
        info_df = pd.DataFrame(info, index=['Date'])
        # create new row for each sampling event
        benthics_sqi = pd.concat([benthics_sqi, info_df], ignore_index = True)

In [79]:
benthics_sqi.dropna(inplace=True)
benthics_sqi['SQI'] = benthics_sqi['SQI'].astype(int)

In [80]:
conditions = [
    (benthics_sqi['SQI'] <19),
    (benthics_sqi['SQI'] >= 19) & (benthics_sqi['SQI'] <= 33),
    (benthics_sqi['SQI'] >=34) & (benthics_sqi['SQI'] <= 48),
    (benthics_sqi['SQI'] > 34)
    ]

# create a list of the values we want to assign for each condition
values = ['Poor', 'Fair', 'Good', 'Excellent']

# create a new column and use np.select to assign values to it using our lists as arguments
benthics_sqi['SQI_Rating'] = np.select(conditions, values)

# display updated DataFrame
benthics_sqi.head(40)

    FIELDID   Latitude  Longitude  Season  SQI  Year SQI_Rating
38    Bish1  42.482378 -83.460553  Spring   15  2004       Poor
40    Bish1  42.482378 -83.460553  Spring   17  2003       Poor
42    Bish1  42.482378 -83.460553  Spring   21  2002       Fair
44    Bish1  42.482378 -83.460553  Spring   22  2001       Fair
45    Bish2  42.471310 -83.451510    Fall   38  2022       Good
47    Bish2  42.471310 -83.451510    Fall   21  2021       Fair
48    Bish2  42.471310 -83.451510  Spring   28  2021       Fair
49    Bish2  42.471310 -83.451510    Fall   20  2020       Fair
51    Bish2  42.471310 -83.451510    Fall   23  2019       Fair
55    Bish2  42.471310 -83.451510    Fall   20  2017       Fair
56    Bish2  42.471310 -83.451510  Spring   26  2017       Fair
58    Bish2  42.471310 -83.451510  Spring   32  2016       Fair
59    Bish2  42.471310 -83.451510    Fall   20  2015       Fair
62    Bish2  42.471310 -83.451510  Spring   15  2014       Poor
63    Bish2  42.471310 -83.451510    Fall   24  2013       Fair
64    Bish2  42.471310 -83.451510  Spring   21  2013       Fair
65    Bish2  42.471310 -83.451510    Fall   17  2012       Poor
66    Bish2  42.471310 -83.451510  Spring   21  2012       Fair
67    Bish2  42.471310 -83.451510    Fall   14  2011       Poor
68    Bish2  42.471310 -83.451510  Spring   18  2011       Poor
70    Bish2  42.471310 -83.451510  Spring   25  2010       Fair
71    Bish2  42.471310 -83.451510    Fall   25  2009       Fair
72    Bish2  42.471310 -83.451510  Spring   16  2009       Poor
73    Bish2  42.471310 -83.451510    Fall   38  2008       Good
74    Bish2  42.471310 -83.451510  Spring   24  2008       Fair
75    Bish2  42.471310 -83.451510    Fall   26  2007       Fair
104   Evan1  42.504517 -83.233388  Spring   15  2015       Poor
106   Evan1  42.504517 -83.233388  Spring   14  2014       Poor
133   Evan2  42.472955 -83.247905    Fall   20  2022       Fair
134   Evan2  42.472955 -83.247905  Spring   16  2022       Poor
135   Evan2  42.472955 -83.247905    Fall   14  2021       Poor
136   Evan2  42.472955 -83.247905  Spring   12  2021       Poor
137   Evan2  42.472955 -83.247905    Fall   21  2020       Fair
139   Evan2  42.472955 -83.247905    Fall   16  2019       Poor
140   Evan2  42.472955 -83.247905  Spring   18  2019       Poor
143   Evan2  42.472955 -83.247905    Fall   13  2017       Poor
145   Evan2  42.472955 -83.247905    Fall   16  2016       Poor
146   Evan2  42.472955 -83.247905  Spring   19  2016       Fair
148   Evan2  42.472955 -83.247905  Spring   14  2015       Poor
179   Evan3  42.459278 -83.268639    Fall    2  2021       Poor

In [81]:
benthics_sqi.to_csv(r'/Users/andrewwolfe/Desktop/benthics_updated_with_date.csv', index=False)